body {
  background-image: url("J_Buerkle.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

h1 {
  text-align: center;
  color: rgb(244, 209, 10);
  font-size: 70px;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(166, 207, 54);
  text-decoration: underline;
  font-style: italic;

}

.technologien {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(166, 207, 54);
  top: 300px;
  left: 500px;

}

.columns {
  display: flex;
  justify-content: center;
  gap: 50px;
}

ul {
  font-size: 30px;
  top: 360px;
  left: 670px;
  color: rgb(125, 221, 69);
}

.contact-info {
  text-align: center;
  font-size: 25px;
  color: rgb(78, 11, 11);
}

.email:hover {
  color: rgb(214, 160, 160);
  cursor: pointer;
}

.link:hover {
  transition: all 0.4s ease;
  background-color: #6210d3;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  text-decoration: none;
  color: rgb(221, 218, 19);
  font-size: 25px;
  padding: 0px 20px;
  cursor: pointer;
}
